h2 {
  text-align: center;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 50vh;
}
button {
  width: 70px;
  height: 30px;
  font-size: x-large;
  background: rgb(219, 152, 219);
  border: none;
  border-radius: 5px;
}